
<div bsModal #modalAdd="bs-modal" class="modal fade"  tabindex="-1"
role="dialog" aria-labelledby="dialog-child-name1">
<div class="modal-dialog modal-dialog-centered"  role="document">
<div class="modal-content ">
<!-- Header -->
 <div class="modal-header bg-primary">
  <h5 class="modal-title" id="modal-basic-title">Thêm / Sửa người lao động</h5>
   <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalAdd.hide()">
       <span aria-hidden="true" class="visually-hidden">&times;</span>
   </button>
 </div>
<!-- Body -->
 <div class="modal-body ">
   <form class="form-horizontal " #AddForm="ngForm" autocomplete="off">
       <div class="form-group row p-2">
            <label for="name" class="col-sm-3 col-form-label  lb form-group required control-label">Họ và tên</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="data.ten"  name="name" class="form-control" id="name" required />
            </div>

            <label for="diaChi" class="col-sm-3 col-form-label  lb form-group required control-label">Địa chỉ</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="data.diaChi"  name="diaChi" class="form-control" id="diaChi"  />
            </div>
            <label for="sdt" class="col-sm-3 col-form-label  lb form-group required control-label">Số điện thoại</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="data.sdt"  name="sdt" class="form-control" id="sdt"  />
            </div>
            <label for="email" class="col-sm-3 col-form-label  lb form-group required control-label">Email</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="data.email"  name="email" class="form-control" id="email" />
            </div>

       </div>
     </form>
 </div>
<!-- Footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-danger text-white" (click)="cancel()" ><i class="fa fa-ban"></i> Hủy</button>
   <button type="button" class="btn btn-success text-white" (click)="save()" [disabled]="!AddForm.valid"><i class="fa fa-check"></i> Lưu lại</button>
</div>
</div>
</div>
</div>
