.table-print {

  // min-width: 1600px;
  &.table {
      border: 2px solid #000;
      thead {
          background-color: #fff;
          color: #000;
          height: 10px !important;
      }
      th, td{
        border: 2px solid #000 !important;
      }

  }

}


