<div class="animated fadeIn">
  <div class="row pt-4">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h5>Chi tiết đơn hàng
                  <button type="button"
                          class="btn btn-sm btn-success ml-2"
                          (click)="print()">
                    <i class="fa fa-print"></i> In </button>
                  <button type="button"
                          class="btn btn-sm btn-warning ml-2"
                          (click)="update()">
                    <i class="fa fa-edit"></i> Chỉnh sửa đơn hàng </button>
                </h5>
              </div>
              <div class="col-6 text-right">
                <button type="button"
                        class="btn btn-sm btn-primary"
                        (click)="back()">
                  <i class="{{iconButton.BACK}}"></i> Trở về
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body">
          <div class="order-info">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="d-flex align-items-center">
                  <i class="fa fa-file-text text-primary mr-2"></i>
                  <div>
                    <small class="text-muted d-block">Mã hóa đơn</small>
                    <strong>{{donHang.ma_DH}}</strong>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="d-flex align-items-center">
                  <i class="fa fa-user text-primary mr-2"></i>
                  <div>
                    <small class="text-muted d-block">Khách hàng</small>
                    <strong>{{donHang.ten_KH}}</strong>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="d-flex align-items-center">
                  <i class="fa fa-calendar-o text-primary mr-2"></i>
                  <div>
                    <small class="text-muted d-block">Ngày Xuất</small>
                    <strong>{{donHang.date | date: 'dd/MM/YYYY' }}</strong>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="d-flex align-items-center">
                  <i class="fa fa-calendar-o text-primary mr-2"></i>
                  <div>
                    <small class="text-muted d-block">Ngày Lập</small>
                    <strong>{{donHang.create_Time | date: 'dd/MM/YYYY HH:mm:ss' }}</strong>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="d-flex align-items-center">
                  <i class="fa fa-id-badge text-primary mr-2"></i>
                  <div>
                    <small class="text-muted d-block">Nhân viên phụ trách</small>
                    <strong>{{ten_NV}}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Stt</th>
                      <th class="text-center">Tên sản phẩm</th>
                      <th class="text-center">Đơn vị tính</th>
                      <th class=" text-center">Số lượng</th>
                      <th class=" text-center">Giá mua</th>
                      <th class=" text-center">Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listChiTiet; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td>{{item.ten_SP}}</td>
                      <td class="text-center">{{item.dvt}}</td>
                      <td class="text-center">{{item.soLuong}}</td>
                      <td class="text-right">{{item.gia | number}}</td>
                      <td class="text-right">{{item.thanhTien | number}}</td>
                    </tr>
                    <tr class="font-20">
                      <td colspan="3"> <b>Tổng cộng: </b> </td>
                      <td class="text-center"><b>{{tongSL}}</b></td>
                      <td></td>
                      <td class="text-right"><b>{{donHang.tongTien | number}}</b></td>
                    </tr>
                    <tr *ngIf="listChiTiet?.length === 0">
                      <td colspan="100%"
                          class="table-warning text-center font-weight-bold">
                        Không có dữ liệu!
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="printMuaHang">
  <div class="padding-print">
    <div class="row">
      <div class="col-8">
        <ng-container *ngIf="cuaHang.id">
          <span class="brand-font">{{cuaHang.ten}}</span><br>
          <span class="address-font">
            {{cuaHang.diaChi}} - Điện thoại: {{cuaHang.sdt}}
          </span>
        </ng-container>
      </div>
      <div class="col-4 text-center">
        <span class="title-font">PHIẾU BÁN HÀNG</span><br>
        <span class="text-font">
          Ngày {{printDate | date: 'dd/MM/YYYY'}}
          <br> Mã hóa đơn: {{donHang.ma_DH}}</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <span class="info-font">
          Khách Hàng: {{donHang.ten_KH}}
          <br> Địa chỉ: {{donHang.diaChi}}
          <br> Nhân viên bán hàng: {{ten_NV}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="custom-print-table">
          <thead>
            <tr>
              <th class="text-center">Stt</th>
              <th class="text-center">Tên sản phẩm</th>
              <th class="text-center">Đơn vị tính</th>
              <th class="text-center">Số lượng</th>
              <th class="text-center">Giá mua</th>
              <th class="text-center">Thành tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listChiTiet; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>{{item.ten_SP}}</td>
              <td class="text-center">{{item.dvt}}</td>
              <td class="text-center">{{item.soLuong}}</td>
              <td class="text-right">{{item.gia | number}}</td>
              <td class="text-right">{{item.thanhTien | number}}</td>
            </tr>
            <tr>
              <td colspan="3">Tổng cộng: </td>
              <td class="text-center total-font">{{tongSL}}</td>
              <td></td>
              <td class="text-right total-font">{{donHang.tongTien | number}}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-font"><b>Bằng chữ: {{tienChu}}</b></p>
        <i class="text-font">Lưu ý: Kiểm tra hàng trước khi thanh toán</i>
      </div>
    </div>
  </div>
</div>
