<div class="animated fadeIn">
  <div class="row pt-4">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal" autocomplete="off">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h5>Chi tiết đơn hàng
                  <button type="button" class="btn btn-success"  [useExistingCss]="true" printSectionId="printMuaHang" ngxPrint>
                    <i class="fa fa-print"></i> In</button>
                    <button type="button" class="btn btn-warning ml-2" (click)="update()"><i class="fa fa-update"></i> Chỉnh sửa đơn hàng</button>
                  </h5>
              </div>
              <div class="col-md-6 col-sm-12">
                <button type="button" class="btn btn-sm btn-primary float-right" (click)="back()">
                  <i class="{{iconButton.BACK}}"></i>
                                Trờ về</button>
              </div>
            </div>
            <form class="form-group row" autocomplete="off">
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <p>
                  Ngày lập: {{donHang.date | date: 'dd/MM/YYYY hh:mm:ss' }}
                </p>
                <p>
                  Tên khách hàng: {{donHang.ten_KH}}
                </p>
              </div>
            </form>
          </div>
        </form>
        <div class="card-body">
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Stt</th>
                      <th class="text-center">Tên sản phẩm</th>
                      <th class="text-center">Đơn vị tính</th>
                      <th class=" text-center">Số lượng</th>
                      <th class=" text-center">Giá mua</th>
                      <th class=" text-center">Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listChiTiet; let i = index" >
                      <td>{{ i + 1 }}</td>
                      <td>{{item.ten_SP}}</td>
                      <td>{{item.dvt}}</td>
                      <td class="text-right">{{item.soLuong}}</td>
                      <td class="text-right">{{item.gia  | number}}</td>
                      <td class="text-right">{{item.thanhTien | number}}</td>
                    </tr>
                    <tr class="font-20">
                      <td colspan="3"> <b>Tổng cộng: </b> </td>
                      <td class="text-right"><b>{{tongSL}}</b></td>
                      <td></td>
                      <td class="text-right"><b>{{donHang.tongTien | number}}</b></td>
                    </tr>
                    <tr *ngIf="listChiTiet?.length === 0">
                      <td colspan="100%" class="table-warning text-center font-weight-bold">
                        Không có dữ liệu!
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="printMuaHang" style="visibility: hidden;">
  <div class="padding-print">
    <div class="row">
      <div class="col-8">
        <h3>NPP BIA NGK - THANH TÚ - STK: T7878 VIETINBANK</h3>
        <span class="font-big">
          156/3B THUẬN AN - BÌNH DƯƠNG - Điện thoại: 0933290890
        </span>
      </div>
      <div class="col-4">
        <h3>PHIẾU XUẤT HÀNG</h3>
        <p class="font-20">Ngày {{printDate | date: 'dd/MM/YYYY'}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="font-big2">Khách Hàng: {{donHang.ten_KH}} <br>
          Địa chỉ:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="border-bold">
        <table class="table table-bordered table-print font-20">
          <thead >
            <tr class="print-txt-bold">
              <th class="text-center">Stt</th>
              <th class="text-center">Tên sản phẩm</th>
              <th class=" text-center">Đơn vị tính</th>
              <th class=" text-center">Số lượng</th>
              <th class=" text-center">Giá mua</th>
              <th class=" text-center">Thành tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listChiTiet; let i = index" class="print-txt-bold">
              <td style="border: 2px solid #000;">{{ i + 1 }}</td>
              <td>{{item.ten_SP}}</td>
              <td>{{item.dvt}}</td>
              <td class="text-right">{{item.soLuong}}</td>
              <td class="text-right">{{item.gia  | number}}</td>
              <td class="text-right">{{item.thanhTien | number}}</td>
            </tr>
            <tr>
              <td colspan="3"><b>Tổng cộng: </b></td>
              <td class="text-right font-big2"><b>{{tongSL}}</b></td>
              <td></td>
              <td class="text-right font-big2"><b>{{donHang.tongTien | number}}</b> </td>
            </tr>
          </tbody>
        </table>
        <p class="font-20"><b>Bằng chữ: {{tienChu}}</b></p>
        <i class="font-20">Lưu ý: Kiểm tra hàng trước khi thanh toán</i>
      </div>

    </div>
  </div>

</div>

