<div class="animated fadeIn">
  <div class="row pt-4">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off"
              #mainForm="ngForm">
          <div class="card-header">
            <div class="row  mb-3">
              <div class="col-md-6 col-sm-12">
                <h5>Theo Dõi Nhân Viên Bán Hàng</h5>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">Kỳ Báo Cáo:</label>
                <ng-select name="filterBy"
                           [(ngModel)]="param.filterBy"
                           (ngModelChange)="onFilterByChange()"
                           (clear)="param.filterBy = '0'"
                           [clearable]="param.filterBy != '0'">
                  <ng-option *ngFor="let item of filterByList"
                             [value]="item.key">{{ item.value }}</ng-option>
                </ng-select>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">
                  Ngày:
                </label>
                <div class="full-width">
                  <div class="container_date">
                    <div class="input-group mr-1">
                      <input type="text"
                             placeholder="Từ ngày..."
                             [maxDate]="param.filterBy == '0' ? toDate : null"
                             name="date_start"
                             [bsConfig]="bsConfig"
                             class="form-control"
                             bsDatepicker
                             [(ngModel)]="fromDate"
                             (ngModelChange)="onFromDateChange()"
                             required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                    <div class="input-group ml-1">
                      <input type="text"
                             placeholder="Đến ngày..."
                             [minDate]="param.filterBy == '0' ? fromDate : null"
                             name="date_end"
                             [bsConfig]="bsConfig"
                             class="form-control"
                             bsDatepicker
                             [(ngModel)]="toDate"
                             (ngModelChange)="onToDateChange()"
                             required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">Mã Đơn Hàng:</label>
                <input type="text"
                       name="ma_DH"
                       class="form-control"
                       [(ngModel)]="param.ma_DH"
                       placeholder="Nhập mã đơn hàng...">
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">Trạng Thái:</label>
                <div class="d-flex align-items-center">
                  <div *ngFor="let item of trangThaiList; index as i"
                       class="custom-control custom-radio pt-2 mr-3">
                    <input [id]="'tt' + i"
                           class="custom-control-input"
                           type="radio"
                           name="trangThai"
                           [value]="item.key"
                           [(ngModel)]="param.trangThai" />
                    <label class="custom-control-label"
                           [for]="'tt' + i">
                      <strong>{{ item.value }}</strong>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <label for="idSP"
                           class="badge badge-warning"> Sản Phẩm
                    </label>
                    <ng-select [items]="sPList"
                               [multiple]="true"
                               name="idSP"
                               groupBy="allGroup"
                               [selectableGroup]="true"
                               [selectableGroupAsModel]="false"
                               [closeOnSelect]="false"
                               bindLabel="value"
                               bindValue="key"
                               [(ngModel)]="param.idSP"
                               placeholder="Vui lòng chọn sản phẩm">
                      <ng-template ng-optgroup-tmp
                                   let-item="item"
                                   let-item$="item$"
                                   let-index="index">
                        <div class="custom-control custom-checkbox pe-none">
                          <input id="item-idSP-{{ index }}"
                                 type="checkbox"
                                 class="custom-control-input"
                                 name="item-idSP-{{ index }}"
                                 [ngModel]="item$.selected" />
                          <label class="custom-control-label"
                                 for="item-idSP-{{ index }}">Chọn tất cả</label>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp
                                   let-item="item"
                                   let-item$="item$"
                                   let-index="index">
                        <div class="custom-control custom-checkbox pe-none">
                          <input id="item-idSP-{{ index }}"
                                 name="item-idSP-{{ index }}"
                                 type="checkbox"
                                 class="custom-control-input"
                                 [ngModel]="item$.selected" />
                          <label class="custom-control-label"
                                 for="item-idSP-{{ index }}"> {{ item.value }}</label>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <label for="idNV"
                           class="badge badge-warning"> Nhân Viên
                    </label>
                    <ng-select [items]="nVList"
                               [multiple]="true"
                               name="idNV"
                               groupBy="allGroup"
                               [selectableGroup]="true"
                               [selectableGroupAsModel]="false"
                               [closeOnSelect]="false"
                               bindLabel="value"
                               bindValue="key"
                               [(ngModel)]="param.idNV"
                               placeholder="Vui lòng chọn nhân viên">
                      <ng-template ng-optgroup-tmp
                                   let-item="item"
                                   let-item$="item$"
                                   let-index="index">
                        <div class="custom-control custom-checkbox pe-none">
                          <input id="item-idNV-{{ index }}"
                                 type="checkbox"
                                 class="custom-control-input"
                                 name="item-idNV-{{ index }}"
                                 [ngModel]="item$.selected" />
                          <label class="custom-control-label"
                                 for="item-idNV-{{ index }}">Chọn tất cả</label>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp
                                   let-item="item"
                                   let-item$="item$"
                                   let-index="index">
                        <div class="custom-control custom-checkbox pe-none">
                          <input id="item-idNV-{{ index }}"
                                 name="item-idNV-{{ index }}"
                                 type="checkbox"
                                 class="custom-control-input"
                                 [ngModel]="item$.selected" />
                          <label class="custom-control-label"
                                 for="item-idNV-{{ index }}"> {{ item.value }}</label>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <label for="idKH"
                           class="badge badge-warning"> Khách Hàng
                    </label>
                    <ng-select [items]="kHList"
                               [multiple]="true"
                               name="idKH"
                               groupBy="allGroup"
                               [selectableGroup]="true"
                               [selectableGroupAsModel]="false"
                               [closeOnSelect]="false"
                               bindLabel="value"
                               bindValue="key"
                               [(ngModel)]="param.idKH"
                               placeholder="Vui lòng chọn khách hàng">
                      <ng-template ng-optgroup-tmp
                                   let-item="item"
                                   let-item$="item$"
                                   let-index="index">
                        <div class="custom-control custom-checkbox pe-none">
                          <input id="item-idKH-{{ index }}"
                                 type="checkbox"
                                 class="custom-control-input"
                                 name="item-idKH-{{ index }}"
                                 [ngModel]="item$.selected" />
                          <label class="custom-control-label"
                                 for="item-idKH-{{ index }}">Chọn tất cả</label>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp
                                   let-item="item"
                                   let-item$="item$"
                                   let-index="index">
                        <div class="custom-control custom-checkbox pe-none">
                          <input id="item-idKH-{{ index }}"
                                 name="item-idKH-{{ index }}"
                                 type="checkbox"
                                 class="custom-control-input"
                                 [ngModel]="item$.selected" />
                          <label class="custom-control-label"
                                 for="item-idKH-{{ index }}"> {{ item.value }}</label>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col">
                <label class="d-block">&nbsp;</label>
                <button type="submit"
                        (click)="search()"
                        class="{{classButton.SEARCH}}"
                        [disabled]="!mainForm.valid">
                  <i class="{{iconButton.SEARCH}}"></i> Xem Báo Cáo
                </button>
                <button type="button"
                        (click)="clear()"
                        class="{{classButton.CLEAR}}">
                  <i class="{{iconButton.CLEAR}}"></i> Xóa
                </button>
                <button type="submit"
                        class="{{classButton.EXCEL}}"
                        id="excel"
                        (click)="excel()"
                        [disabled]="!mainForm.valid">
                  <i class="{{iconButton.EXCEL}}"></i> Xuất dữ liệu
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body">
          <div class="row justify-content-md-center">
            <div class="col-12 text-center"
                 *ngIf="data.result?.length > 0">
              <h5>TỔNG HỢP BÁN HÀNG THEO NHÂN VIÊN</h5>
              <h6>Nhân viên : {{data.nVs}}, từ ngày {{data.fromDate_Str}} đến ngày {{data.toDate_Str}}</h6>
            </div>
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Nhân Viên</th>
                      <th class="text-center">Đơn Hàng</th>
                      <th class="text-center">Khách Hàng</th>
                      <th class="text-center">Sản Phẩm</th>
                      <th class="text-center">Đvt</th>
                      <th class="text-center">Số Lượng Bán</th>
                      <th class="text-center">Thành Tiền</th>
                      <th class="text-center">Đã Thu</th>
                      <th class="text-center">Còn Nợ</th>
                      <th class="text-center">Trạng Thái</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let nv of data.result">
                      <tr class="group-header"
                          (click)="nv.isExpanded = nv.isExpanded === false ? true : false"
                          style="cursor: pointer;">
                        <td>
                          <i class="fa mr-2"
                             [ngClass]="nv.isExpanded !== false ? 'fa-caret-down' : 'fa-caret-right'"></i>
                          <b>NV: {{ nv.ten_NV }} ({{ nv.sdT_NV }})</b>
                        </td>
                        <td colspan="2"><b>{{ nv.so_Don }} đơn</b></td>
                        <td colspan="7"><b>{{ nv.soLoaiSP }} sản phẩm</b></td>
                      </tr>
                      <ng-container *ngIf="nv.isExpanded !== false">
                        <ng-container *ngFor="let dh of nv.donHang_List">
                          <tr class="order-row"
                              (click)="dh.isExpanded = dh.isExpanded === false ? true : false"
                              style="cursor: pointer;">
                            <td></td>
                            <td>
                              <i class="fa mr-2"
                                 [ngClass]="dh.isExpanded !== false ? 'fa-caret-down' : 'fa-caret-right'"></i>
                              {{ dh.ma_DH }} | Ngày xuất: {{ dh.date | date: 'dd/MM/yyyy' }}
                            </td>
                            <td>{{ dh.ten_KH }}</td>
                            <td colspan="3">{{ dh.soLoaiSP }} sản phẩm</td>
                            <td colspan="4"></td>
                          </tr>
                          <ng-container *ngIf="dh.isExpanded !== false">
                            <tr class="product-row"
                                *ngFor="let sp of dh.sP_List">
                              <td colspan="3"></td>
                              <td>{{ sp.ten_SP }}</td>
                              <td class="text-center">{{ sp.dvt }}</td>
                              <td class="text-center">{{ sp.soLuong | number:'1.0-0' }}</td>
                              <td class="text-right">{{ sp.thanhTien | number:'1.0-0' }}</td>
                              <td colspan="3"></td>
                            </tr>
                            <tr class="order-total">
                              <td colspan="6"></td>
                              <td class="text-right"><b>{{ dh.tongTien | number:'1.0-0' }}</b></td>
                              <td class="text-right"><b>{{ dh.daThanhToan | number:'1.0-0' }}</b></td>
                              <td class="text-right"><b>{{ dh.congNo | number:'1.0-0' }}</b></td>
                              <td class="text-center">
                                <span *ngIf="dh.isDaThanhToan"
                                      class="badge badge-success">Đã thanh toán</span>
                                <span *ngIf="!dh.isDaThanhToan"
                                      class="badge badge-danger">Chưa thanh toán</span>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="nv.isExpanded !== false && nv.subTotal_List?.length">
                          <tr class="subtotal-row group-header"
                              (click)="nv.isSubTotalExpanded = nv.isSubTotalExpanded === false ? true : false"
                              style="cursor: pointer;">
                            <td></td>
                            <td colspan="9">
                              <b>
                                <i class="fa mr-2"
                                   [ngClass]="nv.isSubTotalExpanded !== false ? 'fa-caret-down' : 'fa-caret-right'"></i>
                                Sub Total:
                              </b>
                            </td>
                          </tr>
                          <ng-container *ngIf="nv.isSubTotalExpanded !== false">
<tr class="product-row subtotal"
                                *ngFor="let sp of nv.subTotal_List">
                              <td colspan="3"></td>
                              <td><b>{{ sp.ten_SP }}</b></td>
                              <td class="text-center">{{ sp.dvt }}</td>
                              <td class="text-center"><b>{{ sp.soLuong | number:'1.0-0' }}</b></td>
                              <td class="text-right"><b>{{ sp.thanhTien | number:'1.0-0' }}</b></td>
                              <td colspan="3"></td>
                            </tr>
                            <tr class="product-row subtotal">
                              <td colspan="6"></td>
                              <td class="text-right"><b>{{ nv.dS_Ban | number:'1.0-0' }}</b></td>
                              <td class="text-right"><b>{{ nv.daThu | number:'1.0-0' }}</b></td>
                              <td class="text-right"><b>{{ nv.congNo | number:'1.0-0' }}</b></td>
<td class="text-center">
                                <b>
                                  <span class="text-success">Đã TT: {{ nv.soDon_DaThanhToan }}</span>
                                  |
                                  <span class="text-danger">Chưa TT: {{ nv.soDon_ChuaThanhToan }}</span>
                                </b>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>

                    <tr *ngIf="data.result?.length > 0"
                        class="row-total"
                        (click)="data.isTotalExpanded = data.isTotalExpanded === false ? true : false"
                        style="cursor: pointer;">
                      <td colspan="10">
                        <b>
                          <i class="fa mr-2"
                             [ngClass]="data.isTotalExpanded !== false ? 'fa-caret-down' : 'fa-caret-right'"></i>
                          Tổng:
                        </b>
                      </td>
                    </tr>
                    <ng-container *ngIf="data.result?.length > 0 && data.tong_SP?.length">
                      <ng-container *ngIf="data.isTotalExpanded !== false">
                        <tr class="grand-detail"
                            *ngFor="let sp of data.tong_SP">
                          <td colspan="3"></td>
                          <td><b>{{ sp.ten_SP }}</b></td>
                          <td class="text-center">{{ sp.dvt }}</td>
                          <td class="text-center"><b>{{ sp.soLuong | number:'1.0-0' }}</b></td>
                          <td class="text-right"><b>{{ sp.thanhTien | number:'1.0-0' }}</b></td>
                          <td colspan="3"></td>
                        </tr>
                        <tr class="grand-detail">
                          <td colspan="6"></td>
                          <td class="text-right"><b>{{ data.tong_DS_Ban | number:'1.0-0' }}</b></td>
                          <td class="text-right"><b>{{ data.tong_DaThu | number:'1.0-0' }}</b></td>
                          <td class="text-right"><b>{{ data.tong_CongNo | number:'1.0-0' }}</b></td>
                          <td class="text-center">
                            <b>
                              <span class="text-success">Đã TT: {{ data.soDon_DaThanhToan }}</span>
                              |
                              <span class="text-danger">Chưa TT: {{ data.soDon_ChuaThanhToan }}</span>
                            </b>
                          </td>
                        </tr>
</ng-container>
                    </ng-container>

                    <tr *ngIf="data.result?.length == 0">
                      <td colspan="100%"
                          class="table-warning text-center font-weight-bold">
                        Không có dữ liệu!
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="d-flex"
                       *ngIf="data.result?.length > 0 && data.pagination?.totalPage > 1">
                    <pagination [boundaryLinks]="true"
                                [totalItems]="data.pagination?.totalCount"
                                [itemsPerPage]="data.pagination?.pageSize"
                                previousText="&lsaquo;"
                                nextText="&rsaquo;"
                                firstText="&laquo;"
                                lastText="&raquo;"
                                [maxSize]="10"
                                [(ngModel)]="data.pagination.pageNumber"
                                (pageChanged)="pageChanged($event)"
                                [ngModelOptions]="{standalone: true}">
                    </pagination>
                    <span class="cs-page ml-2"> Page - {{ data.pagination?.pageNumber }} / {{ data.pagination?.totalPage }}</span>
                  </div>
                </div>
                <div class="col-4">
                  <span class="cs-page float-right">Tổng số bảng ghi: {{data.pagination?.totalCount ?? 0}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
