<div id="printMuaHang">
  <div class="row">
    <div class="col-7">
      <h3>NPP BIA NGK - THANH TÚ - STK: T7878 <br>
      VIETINBANK</h3>
      <span>
        156/3B THUẬN AN - BÌNH DƯƠNG - Điện thoại: 0933290890
      </span>
    </div>
    <div class="col-5">
      <h3>PHIẾU NHẬP HÀNG</h3>
      <p>Ngày 23/01/2024 </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Khách Hàng: Anh Nam <br>
        Địa chỉ:
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-print">
        <thead>
          <tr>
            <th class="text-center">Stt</th>
            <th class="text-center">Tên hàng</th>
            <th class=" text-center">Đơn vị tính</th>
            <th class=" text-center">Số lượng</th>
            <th class=" text-center">Đơn giá</th>
            <th class=" text-center">Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td colspan="5">Tổng tiền phải thanh toán: </td>
            <td>18000000 </td>
          </tr>
        </tbody>
      </table>
      <p><b>Bằng chữ: {{tienChu}}</b></p>
      <i>Lưu ý: Kiểm tra hàng trước khi thanh toán</i>
    </div>

  </div>
</div>
