<div class="animated fadeIn">
  <div class="row pt-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h5>Chi tiết đơn hàng
                <button type="button"
                        class="btn btn-sm btn-success ml-2"
                        (click)="print()">
                  <i class="fa fa-print"></i> In </button>
                <button type="button"
                        class="btn btn-sm btn-warning ml-2"
                        (click)="update()">
                  <i class="fa fa-edit"></i> Chỉnh sửa đơn hàng </button>
              </h5>
            </div>
            <div class="col-6 text-right">
              <button type="button"
                      class="btn btn-sm btn-primary"
                      (click)="back()">
                <i class="{{iconButton.BACK}}"></i> Trở về
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="order-info">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="d-flex align-items-center">
                  <i class="fa fa-truck text-primary mr-2"></i>
                  <div>
                    <small class="text-muted d-block">Nhà Cung Cấp</small>
                    <strong>{{donHang.ten_NCC}}</strong>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="d-flex align-items-center">
                  <i class="fa fa-calendar-o text-primary mr-2"></i>
                  <div>
                    <small class="text-muted d-block">Ngày Nhập</small>
                    <strong>{{donHang.date | date: 'dd/MM/YYYY' }}</strong>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="d-flex align-items-center">
                  <i class="fa fa-calendar-o text-primary mr-2"></i>
                  <div>
                    <small class="text-muted d-block">Ngày Lập</small>
                    <strong>{{donHang.create_Time | date: 'dd/MM/YYYY HH:mm:ss' }}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-bordered table-sm">
                  <thead class="bg-light">
                    <tr>
                      <th class="text-center">Stt</th>
                      <th class="text-center">Tên sản phẩm</th>
                      <th class="text-center">Đơn vị tính</th>
                      <th class=" text-center">Số lượng</th>
                      <th class=" text-center">Giá mua</th>
                      <th class=" text-center">Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listChiTiet; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td>{{item.ten_SP}}</td>
                      <td class="text-center">{{item.dvt}}</td>
                      <td class="text-center">{{item.soLuong}}</td>
                      <td class="text-right">{{item.gia | number}}</td>
                      <td class="text-right">{{item.thanhTien | number}}</td>
                    </tr>
                    <tr class="font-weight-bold bg-light">
                      <td colspan="3"
                          class="text-right">Tổng cộng:</td>
                      <td class="text-center text-primary">{{tongSL}}</td>
                      <td></td>
                      <td class="text-right text-primary">{{donHang.tongTien | number}}</td>
                    </tr>
                    <tr *ngIf="listChiTiet?.length === 0">
                      <td colspan="100%"
                          class="table-warning text-center font-weight-bold">
                        Không có dữ liệu!
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-print type="mua-hang"
           [cuaHang]="cuaHang"
           [donHang]="donHang"
           [listChiTiet]="listChiTiet"
           [tongSL]="tongSL"
           [tienChu]="tienChu"></app-print>
