<div class="animated fadeIn">
  <div class="row pt-4">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off"
              #mainForm="ngForm">
          <div class="card-header">
            <div class="row mb-3">
              <div class="col-md-6 col-sm-12">
                <h5>Báo Cáo Thu Chi</h5>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <label class="badge badge-warning">Kỳ Báo Cáo:</label>
                <ng-select name="filterBy"
                           [(ngModel)]="filterBy"
                           (ngModelChange)="onFilterByChange()"
                           (clear)="filterBy = '0'"
                           [clearable]="filterBy != '0'">
                  <ng-option *ngFor="let item of filterByList"
                             [value]="item.key">{{ item.value }}</ng-option>
                </ng-select>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <label class="badge badge-warning">Ngày:</label>
                <div class="full-width">
                  <div class="container_date">
                    <div class="input-group mr-1">
                      <input type="text"
                             placeholder="Từ ngày..."
                             [maxDate]="filterBy == '0' ? toDate : null"
                             name="date_start"
                             [bsConfig]="bsConfig"
                             class="form-control"
                             bsDatepicker
                             [(ngModel)]="fromDate"
                             (ngModelChange)="onFromDateChange()"
                             required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                    <div class="input-group ml-1">
                      <input type="text"
                             placeholder="Đến ngày..."
                             [minDate]="filterBy == '0' ? fromDate : null"
                             name="date_end"
                             [bsConfig]="bsConfig"
                             class="form-control"
                             bsDatepicker
                             [(ngModel)]="toDate"
                             (ngModelChange)="onToDateChange()"
                             required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <label class="badge badge-warning">Loại:</label>
                <div class="d-flex align-items-center">
                  <div *ngFor="let item of loaiList; index as i"
                       class="custom-control custom-radio pt-2 mr-3">
                    <input [id]="'loai' + i"
                           class="custom-control-input"
                           type="radio"
                           name="selectedLoai"
                           [value]="item.key"
                           [(ngModel)]="param.loai"
                           (ngModelChange)="onLoaiChange()" />
                    <label class="custom-control-label"
                           [for]="'loai' + i">
                      <strong>{{ item.value }}</strong>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <label class="badge badge-warning">Sản phẩm:</label>
                <ng-select [items]="sPList"
                           [multiple]="true"
                           name="idSP"
                           groupBy="allGroup"
                           [selectableGroup]="true"
                           [selectableGroupAsModel]="false"
                           [closeOnSelect]="false"
                           bindLabel="value"
                           bindValue="key"
                           [(ngModel)]="param.idSP"
                           placeholder="Vui lòng chọn sản phẩm">
                  <ng-template ng-optgroup-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-idSP-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             name="item-idSP-{{ index }}"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-idSP-{{ index }}">Chọn tất cả</label>
                    </div>
                  </ng-template>
                  <ng-template ng-option-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-idSP-{{ index }}"
                             name="item-idSP-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-idSP-{{ index }}">{{ item.value }}</label>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <label class="badge badge-warning">Đối tác:</label>
                <ng-select [items]="doiTacList"
                           [multiple]="true"
                           name="doiTac"
                           groupBy="allGroup"
                           [selectableGroup]="true"
                           [selectableGroupAsModel]="false"
                           [closeOnSelect]="false"
                           [virtualScroll]="true"
                           bindLabel="value"
                           bindValue="key"
                           [(ngModel)]="selectedDoiTac"
                           placeholder="Vui lòng chọn đối tác">
                  <ng-template ng-optgroup-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-doiTac-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             name="item-doiTac-{{ index }}"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-doiTac-{{ index }}">Chọn tất cả</label>
                    </div>
                  </ng-template>
                  <ng-template ng-option-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-doiTac-{{ index }}"
                             name="item-doiTac-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-doiTac-{{ index }}">{{ item.value }}</label>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <label class="badge badge-warning">Nhân viên:</label>
                <ng-select [items]="nvList"
                           [multiple]="true"
                           name="idNV"
                           groupBy="allGroup"
                           [selectableGroup]="true"
                           [selectableGroupAsModel]="false"
                           [closeOnSelect]="false"
                           bindLabel="value"
                           bindValue="key"
                           [(ngModel)]="selectedNV"
                           placeholder="Vui lòng chọn nhân viên">
                  <ng-template ng-optgroup-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-idNV-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             name="item-idNV-{{ index }}"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-idNV-{{ index }}">Chọn tất cả</label>
                    </div>
                  </ng-template>
                  <ng-template ng-option-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-idNV-{{ index }}"
                             name="item-idNV-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-idNV-{{ index }}">{{ item.value }}</label>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="col">
                <label class="d-block">&nbsp;</label>
                <button type="submit"
                        (click)="search()"
                        class="{{classButton.SEARCH}}"
                        [disabled]="!mainForm.valid">
                  <i class="{{iconButton.SEARCH}}"></i> Xem báo cáo
                </button>
                <button type="button"
                        (click)="clear()"
                        class="{{classButton.CLEAR}}">
                  <i class="{{iconButton.CLEAR}}"></i> Xóa
                </button>
                <button type="submit"
                        class="{{classButton.EXCEL}}"
                        id="excel"
                        (click)="excel()"
                        [disabled]="!mainForm.valid">
                  <i class="{{iconButton.EXCEL}}"></i> Xuất dữ liệu
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body">
          <div class="row justify-content-md-center">
            <div class="col-12 text-center"
                 *ngIf="data.orders?.length > 0">
              <h6>Thu chi từ {{data.fromDateStr}} đến {{data.toDateStr}}</h6>
            </div>
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center"
                          style="min-width:120px">Ngày</th>
                      <th class="text-center"
                          style="min-width:180px">Đơn Hàng</th>
                      <th class="text-center">Đối tác</th>
                      <th class="text-center">NV</th>
                      <th class="text-center">Sản phẩm</th>
                      <th class="text-center">Đvt</th>
                      <th class="text-center">SL</th>
                      <th class="text-center">Thành tiền</th>
                      <th class="text-center"
                          style="min-width:220px">Thanh toán</th>
                      <th class="text-center">Còn lại</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item of data.orders">
                      <tr class="group-header"
                          (click)="item.isExpanded = item.isExpanded === false ? true : false"
                          style="cursor: pointer;">
                        <td class="text-center">
                          <i class="fa"
                             [ngClass]="item.isExpanded !== false ? 'fa-caret-down' : 'fa-caret-right'"></i>
                          <b>{{item.dateStr}}</b>
                        </td>
                        <td class="text-left">
                          <span class="mr-2"
                                [ngClass]="item.loai == 1 ? 'badge badge-danger' : 'badge badge-success'">
                            {{item.loai == 1 ? 'Nhập' : 'Xuất'}}
                          </span>
                          <b>{{item.ma_DH}}</b>
                        </td>
                        <td><b>{{item.doiTac}}</b></td>
                        <td><b>{{item.nhanVien}}</b></td>
                        <td colspan="3"><b>{{item.products?.length}} sản phẩm</b></td>
                        <td class="text-right"
                            [ngClass]="item.loai == 1 ? 'text-danger' : 'text-success'">
                          <b>{{item.loai == 1 ? '-' : '+'}}{{item.tongTien | number}}</b>
                        </td>
                        <td class="align-middle"
                            style="min-width:220px">
                          <ng-container *ngIf="(item.tienMat + item.chuyenKhoan) > 0">
                            <div class="d-flex justify-content-between mb-1"
                                 *ngIf="item.tienMat > 0"
                                 title="Tiền mặt"
                                 style="white-space:nowrap">
                              <span class="text-muted"><i class="fa fa-money"> Tiền mặt</i></span>
                              <strong>{{item.tienMat | number}}</strong>
                            </div>
                            <div class="d-flex justify-content-between"
                                 *ngIf="item.chuyenKhoan > 0"
                                 title="Chuyển khoản"
                                 style="white-space:nowrap">
                              <span class="text-muted"><i class="fa fa-university"> Chuyển khoản</i></span>
                              <strong>{{item.chuyenKhoan | number}}</strong>
                            </div>
                          </ng-container>
                        </td>
                        <td class="text-right">
                          <ng-container *ngIf="item.conThieu < 0">
                            <b><span class="text-success">Đã Thanh Toán<br />(Thừa {{-item.conThieu | number}})</span></b>
                          </ng-container>
                          <ng-container *ngIf="item.conThieu == 0">
                            <b><span class="text-success">Đã Thanh Toán</span></b>
                          </ng-container>
                          <ng-container *ngIf="item.conThieu > 0">
                            <b class="text-danger">{{item.conThieu | number}}</b>
                          </ng-container>
                        </td>
                      </tr>
                      <ng-container *ngIf="item.isExpanded !== false">
                        <tr class="product-detail-row"
                            *ngFor="let sp of item.products; let first = first">
                          <td *ngIf="first"
                              [attr.rowspan]="item.products.length"
                              colspan="4"></td>
                          <td class="pd-cell">{{sp.tenSP}}</td>
                          <td class="text-center pd-cell">{{sp.dvt}}</td>
                          <td class="text-center pd-cell">{{sp.soLuong | number}}</td>
                          <td class="text-right pd-cell thanh-tien-cell">{{sp.thanhTien | number}}</td>
                          <td *ngIf="first"
                              [attr.rowspan]="item.products.length"
                              colspan="2"></td>
                        </tr>
                      </ng-container>
                    </ng-container>
                    <tr *ngIf="data.orders?.length > 0"
                        class="row-total">
                      <td colspan="4"><b>Tổng cộng:</b></td>
                      <td colspan="3"></td>
                      <td class="text-right">
                        <b [ngClass]="data.tongTongTien >= 0 ? 'text-success' : 'text-danger'">{{data.tongTongTien | number}}</b>
                      </td>
                      <td style="min-width:220px"></td>
                      <td></td>
                    </tr>
                    <tr *ngIf="data.orders?.length == 0">
                      <td colspan="100%"
                          class="table-warning text-center font-weight-bold">
                        Không có dữ liệu!
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
