-- =============================================
-- Tạo Database: qlbh_h
-- =============================================
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'qlbh_h')
BEGIN
    CREATE DATABASE qlbh_h;
END
GO

USE [qlbh_h]
GO

-- =============================================
-- Bảng: ChiTietDonHang
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DH] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [decimal](18, 0) NULL,
	[ThanhTien] [decimal](18, 0) NULL,
	[Updated_Time] [datetime] NULL,
	[SL_Ton_Dau] [int] NULL,
	[SL_Ton_Cuoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =============================================
-- Bảng: CuaHang
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](250) NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_CuaHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =============================================
-- Bảng: DonHang
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_KH] [int] NULL,
	[ID_NCC] [int] NULL,
	[Loai] [int] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[Status] [bit] NULL,
	[TienMat] [decimal](18, 0) NULL,
	[ChuyenKhoan] [decimal](18, 0) NULL,
	[ID_NV] [int] NULL,
	[Ma_DH] [nvarchar](20) NULL,
	[Date] [date] NULL,
	[Create_Time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =============================================
-- Bảng: NhaCungCap
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](250) NULL,
	[SDT] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[Email] [nvarchar](100) NULL,
	[Ma_NCC] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =============================================
-- Bảng: KhachHang
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](250) NULL,
	[SDT] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[Email] [nvarchar](100) NULL,
	[Ma_KH] [nvarchar](20) NULL,
	[SoNgayCongNo] [int] NULL,
	[HanMucCongNo] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =============================================
-- Bảng: MaHang
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =============================================
-- Bảng: NguoiDung
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](150) NOT NULL,
	[HoTen] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =============================================
-- Bảng: NhanVien
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](250) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =============================================
-- Bảng: SanPham
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [nvarchar](100) NULL,
	[Ten] [nvarchar](250) NULL,
	[Gia] [decimal](18, 0) NULL,
	[Dvt] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =============================================
-- Seed data: Thong tin cửa hàng mẫu
-- =============================================
SET IDENTITY_INSERT [dbo].[CuaHang] ON 
INSERT [dbo].[CuaHang] ([ID], [Ten], [SDT], [DiaChi]) 
VALUES (1, N'Cửa Hàng A', N'0999999999', N'ABC Bình Dương')
SET IDENTITY_INSERT [dbo].[CuaHang] OFF
GO

-- =============================================
-- Seed data: Nhà cung cấp mẫu
-- =============================================
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 
INSERT [dbo].[NhaCungCap] ([ID], [Ten], [SDT], [DiaChi], [Email], [Ma_NCC]) 
VALUES (1, N'Công Ty TNHH ABC', N'0901111111', N'TP.HCM', N'xyz@email.com', N'NCC001')
INSERT [dbo].[NhaCungCap] ([ID], [Ten], [SDT], [DiaChi], [Email], [Ma_NCC]) 
VALUES (2, N'Công Ty TNHH XYZ', N'0912222222', N'Hà Nội', N'abc@email.com', N'NCC002')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO

-- =============================================
-- Seed data: Khách hàng mẫu
-- =============================================
SET IDENTITY_INSERT [dbo].[KhachHang] ON 
INSERT [dbo].[KhachHang] ([ID], [Ten], [SDT], [DiaChi], [Email], [Ma_KH], [SoNgayCongNo], [HanMucCongNo]) 
VALUES (1, N'Nguyễn Văn A', N'0901234567', N'TP.HCM', N'nguyenvana@email.com', N'KH001', 30, 100000000)
INSERT [dbo].[KhachHang] ([ID], [Ten], [SDT], [DiaChi], [Email], [Ma_KH], [SoNgayCongNo], [HanMucCongNo]) 
VALUES (2, N'Trần Thị B', N'0912345678', N'Hà Nội', N'tranthib@email.com', N'KH002', NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO

-- =============================================
-- Seed data: Tài khoản admin mặc định
-- =============================================
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 
INSERT [dbo].[NguoiDung] ([ID], [TaiKhoan], [MatKhau], [HoTen]) 
VALUES (1, N'admin', N'admin', N'Quản trị viên')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO

-- =============================================
-- Seed data: Nhân viên mẫu
-- =============================================
SET IDENTITY_INSERT [dbo].[NhanVien] ON 
INSERT [dbo].[NhanVien] ([ID], [Ten], [DiaChi], [SDT]) 
VALUES (1, N'Nhân Viên A', N'Thuận An', N'0988888888')
INSERT [dbo].[NhanVien] ([ID], [Ten], [DiaChi], [SDT]) 
VALUES (2, N'Nhân Viên B', N'Dĩ An', N'0977777777')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO

-- =============================================
-- Seed data: Sản phẩm mẫu
-- =============================================
SET IDENTITY_INSERT [dbo].[SanPham] ON 
INSERT [dbo].[SanPham] ([ID], [MaSP], [Ten], [Gia], [Dvt], [SoLuong]) 
VALUES (1, N'SP001', N'Laptop Dell Inspiron 15', CAST(15000000 AS Decimal(18, 0)), N'Cái', 1000)
INSERT [dbo].[SanPham] ([ID], [MaSP], [Ten], [Gia], [Dvt], [SoLuong]) 
VALUES (2, N'SP002', N'Chuột không dây Logitech', CAST(350000 AS Decimal(18, 0)), N'Cái', 0)
INSERT [dbo].[SanPham] ([ID], [MaSP], [Ten], [Gia], [Dvt], [SoLuong]) 
VALUES (3, N'SP003', N'Bàn phím Keychron K2', CAST(1800000 AS Decimal(18, 0)), N'Cái', 0)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO

ALTER TABLE [dbo].[ChiTietDonHang] ADD  DEFAULT ((0)) FOR [SoLuong]
GO

ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [Status]
GO

ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
